body{
  
font-family: 'Mali', cursive;
font-size: 2vw;
}

header{
    display: flex;
    justify-content: center;
    background-color: black;
}

h1{
font-family: 'Permanent Marker', cursive;
font-size: 5vw;
color: white;
}
h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    margin: 2vw;

}
.card{
    display: flex;
    margin: 0em 3em;

}

.theBasics{
    width: 40%;
}

.theStory{
    width: 40%;
}
.theStory p{
    padding: 0vw 2vw;
    border-left: 0.2vw solid red;
}

.avatar{display: flex;
    align-items: center;
    width: 20%;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
}